<nav class="navigation">
  <h3>Change detection strategy</h3>
  <ul class="navigation-list">
    <li class="navigation-list-item">
      <a routerLink="cd-default">Default</a>
    </li>
    <li class="navigation-list-item">
      <a routerLink="cd-onpush">On Push</a>
    </li>
    <li class="navigation-list-item">
      <a routerLink="cd-signals">On Push + Signals</a>
    </li>
    <li class="navigation-list-item">
      <a routerLink="cd-custom">Custom</a>
    </li>
  </ul>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
