:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.navigation {
  width: 250px;
  height: 100%;
  padding: 0 20px;
  border-right: solid 1px black;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-list-item {
  width: 100%;
  padding: 20px;
}

.content {
  height: 100%;
  padding: 0 50px;
}
